<launch>
    <!-- Launch file for the mock run of the motors and detect net-->

    <node name="motor_instructions" pkg="bike_sentry" type="motor_instructions.py"/>
    
	<!-- DETECTNET -->
	<node name="mock_detectnet" pkg="bike_sentry" type="mock_detectnet.py"/>
    
    <include file="$(find bike_sentry)/launch/motor_controller.launch"/>

</launch>