<launch>
    <!-- Launch file for the mock run of the motors and detect net-->
    <!-- MOTOR PAN -->

    <node name="mock_motor_pan" pkg="bike_sentry" type="mock_motor_pan.py"/>
    <!-- MOTOR TILT-->
    <node name="mock_motor_tilt" pkg="bike_sentry" type="mock_motor_tilt.py"/>

	<!-- DETECTNET -->
	<node name="mock_detectnet" pkg="bike_sentry" type="mock_detectnet.py"/>


</launch>